:root {
  font-size: 18px;
  --colorBackground: black;
  --colorCardHover: #332;
  --colorDarkText: #777;
  --colorText: #cecece;
  --colorUpperCorner: blue;
  --colorUpperGlow: darkblue;
  --colorLowerCorner: red;
  --colorLowerGlow: darkred;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--colorBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
  
a {
  text-decoration: none;
  /*margin: 50px;*/
}

.card {
  width: 12.22rem;
  height: 20.28rem;
  padding: 0.11rem;
  background: none;
  position: relative;
  transition: linear 0.3s;
  z-index: 0;
}

.card:hover {
  /*box-shadow: 0.67rem -0.67rem 1.94rem -0.83rem var(--colorCardHover), 
    -0.67rem 0.67rem 1.94rem -0.83rem var(--colorCardHover);*/
    box-shadow: 0 0 2.5rem -0.25rem var(--colorCardHover);
}

.card::before {
  content: "";
  max-width: 160px;
  max-height: 160px;
  width: 8.89rem;
  height: 8.89rem;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(315deg, var(--colorBackground), var(--colorBackground), var(--colorUpperCorner));
  box-shadow: -1rem -1rem 1.94rem -0.28rem var(--colorUpperGlow);
  /*box-shadow: -18px -18px 35px 5px var(--colorUpperGlow);*/
  z-index: -1;
  transition: linear 0.2s;
  /*transition: left linear 0.2s;*/
}

.card::after {
  content: "";
  max-width: 160px;
  max-height: 160px;
  width: 8.89rem;
  height: 8.89rem;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(135deg, var(--colorBackground), var(--colorBackground), var(--colorLowerCorner));
  box-shadow: 1rem 1rem 1.94rem -0.28rem var(--colorLowerGlow);
  z-index: -1;
  opacity: 1;
  transition: linear 0.2s;
}

/*LETS TRY ANIMATION AND MOVE THESE UP AND DOWN OR LEFT AND RIGHT*/

@keyframes test {
  from {left: 0px;}
  to {right: 0px;}
}

.card:hover::before {
  /*opacity: 0;*/
  /*animation: test linear 1s 1s;*/
  /*left: 100%;*/
  background: linear-gradient(45deg, var(--colorBackground), var(--colorBackground), var(--colorUpperCorner));
  box-shadow: -1rem -1rem 1.94rem -0.28rem var(--colorUpperGlow);
}

.card:hover::after {

}

.card-text-box {
  z-index: 0;
  width: 12.22rem;
  height: 20.28rem;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card-text-box div {
  padding: 0 1rem;
  color: var(--colorText);
  font-family: Arial, non-serif;
  font-size: 1.33rem;
  text-align: center;
}

#weekday {
  margin-top: 0.67rem;
}

#date {
  font-size: 5.11rem;
  margin-top: 0.67rem;
  line-height: 3.83rem;
}

#month {
  margin-top: 0.67rem;
}

#time {
  margin-top: 0.67rem;
}

#quote-box {
  margin: auto 0;
}

#quote {
  font-size: 0.67rem;
  font-style: italic;
}

#author {
  margin-top: 0.3rem;
  font-size: 0.67rem;
}

#year {
  margin-bottom: 1rem;
  font-size: 0.78rem;
  color: var(--colorDarkText,#777);
}