:root {
  font-size: 16px;
  --colorBackground: black;
  --colorCardHover: #332;
  --colorDarkText: #777;
  --colorText: #cecece;
  --colorUpperCorner: blue;
  --colorUpperGlow: darkblue;
  --colorLowerCorner: red;
  --colorLowerGlow: darkred;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--colorBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
  
a {
  text-decoration: none;
}

.card {
  max-width: 60vw;
  max-height: 60vh;
  width: 13.75rem; /*220px*/
  height: 22.81rem; /*365px*/
  padding: 0.125rem; /*2px*/
  background: none;
  position: relative;
  z-index: 0;
}

.upper-corner {
  max-width: 53.36vw;
  max-height: 53.36vw;
  width: 9.17rem; /*2/3 OF CARD WIDTH*/
  height: 9.17rem; /*SAME*/
  position: absolute;
  top: -0.06rem;
  left: -0.06rem;
  background: linear-gradient(315deg, var(--colorBackground), var(--colorBackground), var(--colorUpperCorner));
  z-index: -1;
  opacity: 1;
}

@keyframes upper-lower-box-beat {
  75% {
    opacity: 0.22;
  }
  80% {
    opacity: 0.57;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.22;
  }
}

.card:hover > .upper-corner, .card:hover > .lower-corner {
  animation: upper-lower-box-beat 1s ease-out infinite;
}

.upper-corner::before {
  content: "";
  max-width: 48.05vw;
  max-height: 48.05vw;
  width: 8.25rem; /*9/10 OF UP-CORNER*/
  height: 8.25rem; /*SAME*/
  position: absolute;
  top: 0.25rem; /*18px*/
  left: 0.25rem; /*18px*/
  box-shadow: -1.125rem -1.125rem 2.19rem -0.31rem var(--colorUpperGlow); /*18px 18px 35px 5px*/
  z-index: -2;
}

@keyframes upper-box-shadow-beat {
  75% {
    top: 1.125rem; /*18px*/
    left: 1.125rem;
  }
  80% {
    top: 0.44rem; /*7px*/
    left: 0.44rem;
  }
  90% {
    top: 0.25rem; /*4px*/
    left: 0.25rem;
  }
  100% {
    top: 1.125rem; /*18px*/
    left: 1.125rem;
  }
}

.card:hover > .upper-corner::before {
  animation: upper-box-shadow-beat 1s ease-out infinite;
}

.lower-corner {
  max-width: 53.36vw;
  max-height: 53.36vw;
  width: 9.17rem;
  height: 9.17rem;
  position: absolute;
  bottom: -0.06rem;
  right: -0.06rem;
  background: linear-gradient(135deg, var(--colorBackground), var(--colorBackground), var(--colorLowerCorner));
  z-index: -1;
  opacity: 1;
}

.lower-corner::before {
  content: "";
  max-width: 48.05vw;
  max-height: 48.05vw;
  width: 8.25rem;
  height: 8.25rem;
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  box-shadow: 1.125rem 1.125rem 2.19rem -0.31rem var(--colorLowerGlow);
  z-index: -2;
}

@keyframes lower-box-shadow-beat {
  75% {
    bottom: 1.125rem; /*18px*/
    right: 1.125rem;
  }
  80% {
    bottom: 0.44rem; /*7px*/
    right: 0.44rem;
  }
  90% {
    bottom: 0.25rem; /*4px*/
    right: 0.25rem;
  }
  100% {
    bottom: 1.125rem; /*18px*/
    right: 1.125rem;
  }
}

.card:hover > .lower-corner::before {
  animation: lower-box-shadow-beat 1s ease-out infinite;
}
 
.card-text-box {
  max-width: 60vw;
  max-height: 60vh;
  width: 13.75rem; /*220px*/
  height: 22.81rem; /*365px*/
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}

.card-text-box div {
  padding: 0 1.125rem;
  color: var(--colorText);
  font-family: Arial, non-serif;
  font-size: 1.5rem; /*24px*/
  text-align: center;
}

#weekday {
  margin-top: 1.125rem;
}

#date {
  font-size: 4.875rem; /*78px*/
  margin-top: 0.75rem; /*12px*/
  line-height: 3.625rem; /*58px*/
}

#month {
  margin-top: 0.75rem; /*12px*/
}

#time {
  margin-top: 0.75rem; /*12px*/
}

#quote-box {
  margin: auto 0;
}

#quote {
  font-size: 0.75rem; /*12px*/
  font-style: italic;
}

#author {
  margin-top: 0.31rem; /*5px*/
  font-size: 0.75rem; /*12px*/
}

#year {
  margin-bottom: 1.125rem;
  font-size: 0.875rem; /*14px*/
  color: var(--colorDarkText,#777);
}